// Breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

// Colors
$cl-primary: #151515;
$cl-primary-b: #575757;
$cl-primary-c: #a9a9a9;
$cl-primary-d: #d1d1d1;
$cl-primary-h: #f9f9f9;

$cl-secondary: #6a983c;
$cl-secondary-c: #92c064;
$cl-secondary-e: #f4f8ec;

$cl-brown: #d0a866;
$cl-blue: #37d0d6;
$cl-red: #e6704b;

// Animation duration
$duration: 0.4s;

// Border-radius
$br: 12px;
